RewriteEngine On
#
# RewriteBase indispensable sur webetu :
# RewriteBase /mygiftbox/gift.appli/public

#
# Pour interdire l'accès aux répertoires contenant du code
#RewriteRule ^sql(/.*|)$ - [NC,F]
#RewriteRule ^src(/.*|)$ - [NC,F]

#
# réécriture pour slim
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Redirige les requetes vers localhost:44000/api vers index.php
RewriteRule ^api(/.*)?$ index.php [L]

# Redirige les requetes vers la localhost:44000/ vers web/index.html
RewriteRule ^$ web/index.html [L]

RewriteRule ^css/(.*)\.css$ web/css/$1.css [L]

RewriteRule ^js/(.*)\.js$ web/js/$1.js [L]

