{% extends 'squelette.twig' %}
{% block main %}
<form class="formulaireCreateService" method="post">

    <label for="libelle">Libelle</label>
    <input type="text" id="champLibelle"
           name="libelle" required>

    <label for="etage">Etage</label>
    <input type="number" id="champEtage"
           name="etage" required>

    <label for="description">Description</label>
    <input type="text" id="champDescription"
           name="description" required>

    <input type="submit" value="Submit">

    {#    //personne(pk int id, varchar nom, varchar prenom, varchar num_bureau, varchar mail, varchar url_img)#}
</form>
{% endblock %}