{% extends "squelette.twig" %}

{% block titre %}Formulaire Categorie{% endblock %}
{% block main %}
    <form class="formulaireCreateAdmin" method="post">

        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="champUsername"
               name="username" required>

        <label for="password">Mot de passe</label>
        <input type="password" id="champMotDePasse"
               name="password" required>


        <input type="hidden" name="token" value="{{ token }}">
        <input type="submit" value="Submit">

    </form>
{% endblock %}
