{% extends "squelette.twig" %}
    {% block titre %}Accueil{% endblock %}
{% block main %}
    <h1>Bienvenue sur webdir</h1>

    {#    <a href="/service/create">Create Service</a> #}
    {#    <a href="/personne/create">Create Personne</a> #}
{% endblock %}

