main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main > * {
    margin: 1em;
}

#personnes-container {
    height: 85vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#detailPersonne {
    /*width:30%*/
}

#imgUser {
    width: 20vw;
}

body {
}